<ion-view view-title="设定">
<ion-content>
<div class="list">
	<div class="item item-avatar">
		<img src="img/default.png">
		<h2>{{$root.user.realname}}</h2>
		<p>编号：&nbsp; {{$root.user.pid}}</p>
	</div>
	<div class="item item-icon-left">
		<i class="icon ion-ios-telephone-outline"></i>	
		{{$root.user.mobile}}
	</div>
	<div class="item item-icon-left">
		<i class="icon ion-ios-email-outline"></i>	
		{{$root.user.email}}
	</div>
	<a class="item " ng-click="chgpwd()">
		<i class="icon ion-ios-locked-outline"></i>	
		修改密码
	</a>
	<div class="item">
	学校：&nbsp; &nbsp;{{$root.user.uniname}}
	</div>	
	<div class="item">
	科系：&nbsp; &nbsp;{{$root.user.deptname}}
	</div>	
</div>
</ion-content>
</ion-view>
