<ion-view hide-nav-bar="true">
<ion-content class="page-login">

<div class="image-login">
    <img src="img/login-img.png">  
</div>
<div class="list list-inset login-form animated fadeInDown">
<label class="item item-input m5">
    <input type="text" ng-model="userinfo.username" required ng-disabled="logging" class="f12 f-grey">
</label>

<label class="item item-input">
    <input type="password" ng-model="userinfo.pwd" ng-disabled="logging" class="f12 f-grey" placeholder="密码">
</label>

<!--
<div class="item item-checkbox">
    <label class="checkbox">
        <input type="checkbox" ng-model="userinfo.remember"></input>
    </label>
    记住登录信息
</div>
-->

    <button class="button button-block btn-green" 
        ng-click="login()" >
        登&nbsp;&nbsp;录
    </button>
</div>
</ion-content>
</ion-view>

