<ion-view view-title="资讯">
<ion-content>
<a class="item color-line" ng-repeat="po in posts" href="#/main/info/{{po.id}}">
    <div class="row force-no-padding">
        <div class="col avatar-frame-small force-no-padding">
            <div class="row force-no-padding">
                <div class="{{po.tagcls}}">
                   {{po.title[0]}}
                </div>          
                <div class="col force-no-padding-left15">
                    <div class="row force-no-padding">
                        <h2 class="ng-binding">[{{po.deptName}}]&nbsp;{{po.title}}</h2>
                    </div>
                    <div class="row force-no-padding-top5">
                        <p class="ng-binding">{{po.uniName}} &nbsp; {{po.time| date:'yyyy-MM-dd'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
</ion-content>
</ion-view>
