<ion-view view-title="资讯">
<ion-content>
<div class="card scroll" ng-if="iId" >
    <div class="item grey-line">
        <div class="row force-no-padding">
            <div class="col avatar-frame-small force-no-padding">
                <div class="row force-no-padding">
                    <div class="col-fixed-40 force-no-padding">
                        <img ng-src="img/default.png">
                    </div>
                    <div class="col force-no-padding-left15">
                        <div class="row force-no-padding">
                            {{post.title}}
                        </div>
                        <div class="row force-no-padding-top10">
                            <!-- <p>{{message.senderName}} &nbsp;&nbsp;&nbsp;{{message.time| date:'yyyy-MM-dd HH:mm:ss '}}</p> -->
                            2015-12-15
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-text-wrap" ng-bind-html="post.content">
    </div>
</div>
</ion-content>
</ion-view>
