<ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">
    <ion-tab title="上课" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/main/clists">
        <ion-nav-view name="clistsView"> </ion-nav-view>
    </ion-tab>
    
    <ion-tab title="资讯" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/main/info">
        <ion-nav-view name="infoView"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="消息" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/main/messages">
        <ion-nav-view name="messageView"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="设定" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/config">
        <ion-nav-view name="configView"></ion-nav-view>
    </ion-tab>

</ion-tabs>
