<ion-view view-title="写消息">
<ion-content>
<div class="list list-inset">
    <label class="item item-input">
        <span class="input-label force-width60">标题</span>
        <input type="text" placeholder="标题", ng-model="compose.title">
    </label>
    <label class="item item-input">
        <span class="input-label force-width60">收件人</span>
        <input type="text" placeholder="收件人", ng-model="compose.receiverString" class="force-readonly force-padding-right20" readonly ng-click="contacts()">
        <button class="button button-clear icon-left"><i class="icon ion-plus" ng-click="contacts()"></i></button>
    </label>
    <label class="item item-input">
        <textarea rows="20" ng-model="compose.content" placeholder="正文"></textarea>
    </label>
        <button class="button button-block button-positive" ng-click="send()">发送</button>
</div>

</ion-content>
</ion-view>
