<ion-view view-title="读消息">
<ion-content>
<div class="card">
    <div class="item grey-line">
        <div class="row force-no-padding">
            <div class="col avatar-frame-small force-no-padding">
                <div class="row force-no-padding">
                    <div class="col-fixed-40 force-no-padding">
                        <img ng-src="img/default.png">
                    </div>
                    <div class="col force-no-padding-left15">
                        <div class="row force-no-padding">
                            {{message.title}}
                        </div>
                        <div class="row force-no-padding-top10">
                            <p>{{message.senderName}} &nbsp;&nbsp;&nbsp;{{message.time| date:'yyyy-MM-dd HH:mm:ss '}}</p>
                        </div>
                    </div>
                    <div class="force-no-padding-left15" style="tex-align:right">
                        <button class="button btn-reply icon-left" ng-click="reply({{mId}})"><i class="icon ion-ios-undo-outline"></i>回复</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-text-wrap">
        <pre>{{message.content}}</pre>
    </div>
</div>
</ion-content>
</ion-view>
